[gcode_macro PRINT_END]
gcode:
  # Removemos o M400 para não quebrar a fluidez dos motores
  G91                           ; Posicionamento relativo
  G1 E-4 Z3 F4800               ; Arranca na diagonal imediatamente junto com o fim do desenho
  G0 Z7 F3000                   ; Sobe o restante do Z
  
  G90                           ; Posicionamento absoluto
  G0 X0 Y300 F7500              ; Joga a mesa para frente rápido
  
  TURN_OFF_HEATERS              ; Desliga os aquecedores
  M84                           ; Desliga os motores
  M106 S0                       ; Desliga a ventoinha
  SET_LED LED=extruder RED=0.078 GREEN=0.568 BLUE=1
